#{extends 'main.html' /} #{set title:'Home' /}

<!-- Example row of columns -->
        <div class="row">
          <div class="span16">
             <table class="table">
				<thead>
					<tr>
					<th>Incident type</th>
					<th>Location</th>
					<th>Time</th>
					<th>Duration (Mins)</th>
					<th>Direction</th>
					<th>Comments</th>
					</tr>
				</thead>
				<tbody>
				#{list items:all, as:'incident'}
				<tr>
					<td><a href="#">${incident.incidentTitle}</a></td>
					<td>${incident.location.mName}</td>
					<td>incident.timestamp</td>
					<td>15</td>
					<td>District 2</td>
					<td><a href="#">3 comments</a> <span id="commentTime">2hrs ago</span></td>
					<td><a class="btn" data-controls-modal="modal-from-dom" data-backdrop="true" >Send notification</a></td>
				</tr>
				#{/list}
				</tbody>
			</table>
           
            
          </div>
     
      
        </div>
  
 
        <footer>
          <p>&copy; Random Hacks of Kindness MTL 2011</p>
        </footer>

