#{extends 'main.html' /} #{set title:'Home' /}

        <a href="/map">Map view</a>

<!-- Example row of columns -->
        <div class="row">
          <div class="span16">
             <table class="table">
				<thead>
					<tr>
                        <th>Time</th>
                        <th class="header headerSortUp">Incident type</th>
                        <th>Title</th>
                        <th>Est. Duration (Mins)</th>
                        <th class="header headerSortUp">Location</th>
                        <th>Direction</th>
                        <th>Description</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
				#{list items:all, as:'incident'}
				<tr>
				    <td>${incident.getIncidentDateFormated()}</td>
				    <td>${incident.incidentCategory.getName()}</td>
				    <td>${incident.incidentTitle}</td>
				    <td>${incident.duration}</td>
				    <td>${incident.location.getName()}</td>
				    <td>${incident.direction}</td>
				    <td>${incident.description}</td>
				
				</tr>
				#{/list}
				</tbody>
			</table>
          </div>
        </div>

