#{extends 'main.html' /}

<h2>Login</h2>

<div class="objectForm">
#{form @loginUser()}
   #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    <p>
        #{field 'firstname'}
        <label>Name</label>
        <input type="text" name="${field.name}" 
            value="${user?.firstName}" />
        <span class="error">#{error 'user.firstName' /}</span>
        #{/field}
    </p>
 
     <p>
        #{field 'aPassword'}
        <label>Password</label>
        <input type="password" name="${field.name}" 
            value="${user?.password}" />
        <span class="error">#{error 'user.password' /}</span>
        #{/field}
    </p>
    
    <p>
        <input type="submit" value="Login" />
    </p>
#{/form}
</div>