#{extends 'main.html' /}

#{if user}

<h2>Submit a report</h2>

<div class="objectForm">
#{form @saveReport()}
   #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    <p>
    	#{field 'categoryId'}
    	<label>Incident Category</label>
    	#{select 'categoryId', items:categories, labelProperty:'name', value:1/}
    	#{/field}
	</p>
    <p>
        #{field 'title'}
        <label>Incident Title</label>
        <input type="text" name="${field.name}" 
            value="${incident?.incidentTitle}" />
        <span class="error">#{error 'incident.incidentTitle' /}</span>
        #{/field}
    </p>
    <p>
    	#{field 'locationId'}
    	<label>Location</label>
    	#{select 'locationId', items:locations, labelProperty:'name', value:1/}
    	#{/field}
	</p>
 
    <p>
        #{field 'content'}
        <label>Description:</label>
        <textarea name="${field.name}">${post?.description}</textarea>
        <span class="error">#{error 'post.description' /}</span>
        #{/field}
    </p>
    <p>
        #{field 'duration'}
        <label>Est. Duration (mins)</label>
        <input type="text" name="${field.name}" 
            value="${incident?.duration}" />
        <span class="error">#{error 'incident.direction' /}</span>
        #{/field}
    </p>
    
    <p>
        #{field 'direction'}
        <label>Direction</label>
        <input type="text" name="${field.name}" 
            value="${incident?.direction}" />
        <span class="error">#{error 'incident.direction' /}</span>
        #{/field}
    </p>
    
    <p>
        <input type="submit" value="Submit Report" />
    </p>
#{/form}
</div>

#{/if}
#{else}
      <a href="/">Please log in.</a>     
#{/else}
